body {
  background-color: rgb(238, 236, 235);
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

.nav-btn button:hover {
  color: #fff;
  background-color: #0056b3;
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button:hover {
  color: #fff;
  background-color: #0056b3;
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
nav {
  margin: 0;
  padding: 20px;
}

/* img {
  max-width: 100%;
  display: block;
} */
nav {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
nav ul {
  list-style: none;
  align-items: center;
  display: flex;
}
nav ul li {
  padding-left: 20px;
}
.btn-primary {
  padding-top: 20px;
  height: 30px;
}

.nav-btn button {
  border-radius: 4px;
  background: rgba(70, 145, 101, 1);
  padding: 15px 18px;
  width: 150px;
  color: white;
  border: none;
}
.banner-container {
  background-image: url("../assets/hero-bg.png");
  height: 400px;
  width: 100%;
  padding-top: 80px;
  text-align: center;
  margin-bottom: 100px;
}
.banner-btn {
  color: rgba(70, 145, 101, 1);
  font-size: 10px;
  font-family: Inter;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  border-radius: 80px;
  padding: 8px 12px 8px 12px;
  border: none;
  font-weight: bold;
}
.banner-btn-two {
  background-color: rgba(70, 145, 101, 1);
  color: #fff;
  padding: 15px;
  margin: 20px;
  border-radius: 6px;
  border: none;
}
.banner-btn-three {
  padding: 15px;
  border-radius: 6px;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
}
.text {
  /* color: rgba(255,255,255,1); */
  color: #fff;
}
.text-primary {
  color: rgba(70, 145, 101, 1);
}

.notes-container {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
  max-width: 80%;
  margin: 0 auto;
}
.notes-image {
  background: rgba(249, 85, 85, 1);
  border-radius: 100px;
  width: 60px;
  height: 50px;
  margin: auto;
}
.notes-item-container {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  padding: 25px;
}
.second-brain-container {
  display: flex;
  text-align: center;
  align-items: center;
  margin-top: 100px;
}

.second-brain-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  padding-left: 40px;
}
.second-brain-greetings {
  color: rgba(70, 145, 101, 1);
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
  line-height: 22px;
}

.second-brain-content li {
  list-style: none;
}

.second-brain-image img {
  height: 400px;
  width: 400px;
}

.second-brain-section {
  max-width: 80%;
  margin: auto;
}

.second-brain-content i {
  color: #469165;
}

.second-brain-content li {
  font-weight: bold;
}
.early-access-section {
  border-radius: 12px;
  background: rgba(247, 246, 242, 1);
  align-items: center;
  justify-content: flex-start;
  padding: 80px 40px 80px 40px;
  flex-direction: column;
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
  margin-top: 50px;
}

.early-access-btn {
  background: #469165;
  color: #fff;
  padding: 15px 20px 15px 20px;
  border: none;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  height: 55px;
  margin-top: 30px;
}
.early-access-description {
  font-size: 16px;
  font-weight: 500;
  font-family: Inter;
  font-style: normal;
  text-align: center;
  height: 20px;
  color: rgba(98, 115, 130, 1);
}

.footer-section {
  margin-top: 100px;
  height: 300px;
  background-color: rgba(0, 25, 49, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-container {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}
.footer-social-links h4 {
  padding-bottom: 10px;
}

.footer-logo img {
  max-width: 150px;
}

.footer-social-links {
  color: #ffffff;
  font-family: Inter;
  font-size: 16px;
}
.hr-line {
  border: none;
  height: 2px;
  background-color: rgb(6, 49, 90);
  width: 80%;
  margin: auto;
}

.footer-content {
  color: #fff;
  margin-top: 30px;
  text-align: center;
  font-size: 14px;
  font-family: Inter;
}

.footer-content p {
  padding-top: 20px;
}
